name: Lux Mod Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Hard Reset Environment
        run: |
          ./gradlew --stop
          rm -rf ~/.gradle/caches/
          rm -rf build/lux-cache/
          mkdir -p build/lux-cache/

      - name: Build Mod with LuxLoom
        run: ./gradlew build --refresh-dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}

      - name: Upload Mod Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Lux-Example-Mod
          path: build/libs/*.jar
